openapi: 3.0.1
info:
  title: EVE Swagger Interface
  description: An OpenAPI for EVE Online
  version: 1.8.2
servers:
- url: https://esi.evetech.net/latest
paths:
  /alliances/:
    get:
      tags:
      - Alliance
      summary: List all alliances
      description: "List all active player alliances\n\n---\nAlternate route: `/dev/alliances/`\n\
        \nAlternate route: `/legacy/alliances/`\n\nAlternate route: `/v1/alliances/`\n\
        \nAlternate route: `/v2/alliances/`\n\n---\nThis route is cached for up to\
        \ 3600 seconds"
      operationId: get_alliances
      parameters:
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: List of Alliance IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                title: get_alliances_ok
                maxItems: 5000
                type: array
                description: 200 ok array
                items:
                  title: get_alliances_200_ok
                  minimum: 0
                  type: integer
                  description: 200 ok integer
                  format: int32
                x-content-type: application/json
              example:
              - 99000001
              - 99000002
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
  /alliances/{alliance_id}/:
    get:
      tags:
      - Alliance
      summary: Get alliance information
      description: "Public information about an alliance\n\n---\nAlternate route:\
        \ `/dev/alliances/{alliance_id}/`\n\nAlternate route: `/legacy/alliances/{alliance_id}/`\n\
        \nAlternate route: `/v3/alliances/{alliance_id}/`\n\nAlternate route: `/v4/alliances/{alliance_id}/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: get_alliances_alliance_id
      parameters:
      - name: alliance_id
        in: path
        description: An EVE alliance ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Public data about an alliance
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_ok'
              example:
                creator_corporation_id: 45678
                creator_id: 12345
                date_founded: 2016-06-26T21:00:00Z
                executor_corporation_id: 98356193
                name: C C P Alliance
                ticker: <C C P>
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "404":
          description: Alliance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_not_found'
              example:
                error: Not found message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - dev
      - legacy
      - v3
      - v4
      x-cached-seconds: 3600
  /alliances/{alliance_id}/contacts/:
    get:
      tags:
      - Contacts
      summary: Get alliance contacts
      description: "Return contacts of an alliance\n\n---\nAlternate route: `/dev/alliances/{alliance_id}/contacts/`\n\
        \nAlternate route: `/v2/alliances/{alliance_id}/contacts/`\n\n---\nThis route\
        \ is cached for up to 300 seconds"
      operationId: get_alliances_alliance_id_contacts
      parameters:
      - name: alliance_id
        in: path
        description: An EVE alliance ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Which page of results to return
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of contacts
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              style: simple
              explode: false
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                title: get_alliances_alliance_id_contacts_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_alliances_alliance_id_contacts_200_ok'
                x-content-type: application/json
              example:
              - contact_id: 2112625428
                contact_type: character
                standing: 9.9
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-alliances.read_contacts.v1
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 300
  /alliances/{alliance_id}/contacts/labels/:
    get:
      tags:
      - Contacts
      summary: Get alliance contact labels
      description: "Return custom labels for an alliance's contacts\n\n---\nAlternate\
        \ route: `/dev/alliances/{alliance_id}/contacts/labels/`\n\nAlternate route:\
        \ `/legacy/alliances/{alliance_id}/contacts/labels/`\n\nAlternate route: `/v1/alliances/{alliance_id}/contacts/labels/`\n\
        \n---\nThis route is cached for up to 300 seconds"
      operationId: get_alliances_alliance_id_contacts_labels
      parameters:
      - name: alliance_id
        in: path
        description: An EVE alliance ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of alliance contact labels
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                title: get_alliances_alliance_id_contacts_labels_ok
                maxItems: 64
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_alliances_alliance_id_contacts_labels_200_ok'
                x-content-type: application/json
              example:
              - label_id: 1
                label_name: Alliance Friends
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-alliances.read_contacts.v1
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
  /alliances/{alliance_id}/corporations/:
    get:
      tags:
      - Alliance
      summary: List alliance's corporations
      description: "List all current member corporations of an alliance\n\n---\nAlternate\
        \ route: `/dev/alliances/{alliance_id}/corporations/`\n\nAlternate route:\
        \ `/legacy/alliances/{alliance_id}/corporations/`\n\nAlternate route: `/v1/alliances/{alliance_id}/corporations/`\n\
        \nAlternate route: `/v2/alliances/{alliance_id}/corporations/`\n\n---\nThis\
        \ route is cached for up to 3600 seconds"
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - name: alliance_id
        in: path
        description: An EVE alliance ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: List of corporation IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                title: get_alliances_alliance_id_corporations_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  title: get_alliances_alliance_id_corporations_200_ok
                  minimum: 0
                  type: integer
                  description: 200 ok integer
                  format: int32
                x-content-type: application/json
              example:
              - 98000001
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
  /alliances/{alliance_id}/icons/:
    get:
      tags:
      - Alliance
      summary: Get alliance icon
      description: "Get the icon urls for a alliance\n\n---\nAlternate route: `/legacy/alliances/{alliance_id}/icons/`\n\
        \nAlternate route: `/v1/alliances/{alliance_id}/icons/`\n\n---\nThis route\
        \ expires daily at 11:05\n\n---\n[Diff of the upcoming changes](https://esi.evetech.net/diff/latest/dev/#GET-/alliances/{alliance_id}/icons/)"
      operationId: get_alliances_alliance_id_icons
      parameters:
      - name: alliance_id
        in: path
        description: An EVE alliance ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Icon URLs for the given alliance id and server
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_icons_ok'
              example:
                px128x128: https://images.evetech.net/Alliance/503818424_128.png
                px64x64: https://images.evetech.net/Alliance/503818424_64.png
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "404":
          description: No image server for this datasource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_alliances_alliance_id_icons_not_found'
              example:
                error: No image server for this datasource
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - legacy
      - v1
  /characters/affiliation/:
    post:
      tags:
      - Character
      summary: Character affiliation
      description: "Bulk lookup of character IDs to corporation, alliance and faction\n\
        \n---\nAlternate route: `/dev/characters/affiliation/`\n\nAlternate route:\
        \ `/v2/characters/affiliation/`\n\n---\nThis route is cached for up to 3600\
        \ seconds"
      operationId: post_characters_affiliation
      parameters:
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      requestBody:
        description: "The character IDs to fetch affiliations for. All characters\
          \ must exist, or none will be returned"
        content:
          application/json:
            schema:
              title: post_characters_affiliation_characters
              maxItems: 1000
              minItems: 1
              uniqueItems: true
              type: array
              description: characters array
              items:
                title: post_characters_affiliation_character
                type: integer
                description: character integer
                format: int32
        required: true
      responses:
        "200":
          description: "Character corporation, alliance and faction IDs"
          content:
            application/json:
              schema:
                title: post_characters_affiliation_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_affiliation_200_ok'
                x-content-type: application/json
              example:
              - alliance_id: 434243723
                character_id: 95538921
                corporation_id: 109299958
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
      x-codegen-request-body-name: characters
  /characters/{character_id}/:
    get:
      tags:
      - Character
      summary: Get character's public information
      description: "Public information about a character\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/`\n\nAlternate route: `/v4/characters/{character_id}/`\n\
        \n---\nThis route is cached for up to 86400 seconds"
      operationId: get_characters_character_id
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Public data for the given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_ok'
              example:
                ancestry_id: 19
                birthday: 2015-03-24T11:37:00Z
                bloodline_id: 3
                corporation_id: 109299958
                description: ""
                gender: male
                name: CCP Bartender
                race_id: 2
                title: All round pretty awesome guy
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "404":
          description: Character not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_not_found'
              example:
                error: Not found message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      x-alternate-versions:
      - dev
      - v4
      x-cached-seconds: 86400
  /characters/{character_id}/agents_research/:
    get:
      tags:
      - Character
      summary: Get agents research
      description: "Return a list of agents research information for a character.\
        \ The formula for finding the current research points with an agent is: currentPoints\
        \ = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)\n\
        \n---\nAlternate route: `/dev/characters/{character_id}/agents_research/`\n\
        \nAlternate route: `/v2/characters/{character_id}/agents_research/`\n\n---\n\
        This route is cached for up to 3600 seconds"
      operationId: get_characters_character_id_agents_research
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of agents research information
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                title: get_characters_character_id_agents_research_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_agents_research_200_ok'
                x-content-type: application/json
              example:
              - agent_id: 3009358
                points_per_day: 53.5346162146776
                remainder_points: 53604.0634303189
                skill_type_id: 11450
                started_at: 2017-03-23T14:47:00Z
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_agents_research.v1
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
  /characters/{character_id}/assets/:
    get:
      tags:
      - Assets
      summary: Get character assets
      description: "Return a list of the characters assets\n\n---\nAlternate route:\
        \ `/dev/characters/{character_id}/assets/`\n\nAlternate route: `/v5/characters/{character_id}/assets/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: get_characters_character_id_assets
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Which page of results to return
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A flat list of the users assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              style: simple
              explode: false
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                title: get_characters_character_id_assets_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_assets_200_ok'
                x-content-type: application/json
              example:
              - is_blueprint_copy: true
                is_singleton: true
                item_id: 1000000016835
                location_flag: Hangar
                location_id: 60002959
                location_type: station
                quantity: 1
                type_id: 3516
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "404":
          description: Requested page does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_assets_not_found'
              example:
                error: Requested page does not exist
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      x-alternate-versions:
      - dev
      - v5
      x-cached-seconds: 3600
  /characters/{character_id}/assets/locations/:
    post:
      tags:
      - Assets
      summary: Get character asset locations
      description: "Return locations for a set of item ids, which you can get from\
        \ character assets endpoint. Coordinates for items in hangars or stations\
        \ are set to (0,0,0)\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/locations/`\n\
        \nAlternate route: `/v2/characters/{character_id}/assets/locations/`\n"
      operationId: post_characters_character_id_assets_locations
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: A list of item ids
        content:
          application/json:
            schema:
              title: post_characters_character_id_assets_locations_item_ids
              maxItems: 1000
              minItems: 1
              uniqueItems: true
              type: array
              description: item_ids array
              items:
                title: post_characters_character_id_assets_locations_item_id
                type: integer
                description: item_id integer
                format: int64
        required: true
      responses:
        "200":
          description: List of asset locations
          content:
            application/json:
              schema:
                title: post_characters_character_id_assets_locations_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_character_id_assets_locations_200_ok'
                x-content-type: application/json
              example:
              - item_id: 12345
                position:
                  x: 1.2
                  "y": 2.3
                  z: -3.4
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      x-alternate-versions:
      - dev
      - v2
      x-codegen-request-body-name: item_ids
  /characters/{character_id}/assets/names/:
    post:
      tags:
      - Assets
      summary: Get character asset names
      description: "Return names for a set of item ids, which you can get from character\
        \ assets endpoint. Typically used for items that can customize names, like\
        \ containers or ships.\n\n---\nAlternate route: `/dev/characters/{character_id}/assets/names/`\n\
        \nAlternate route: `/legacy/characters/{character_id}/assets/names/`\n\nAlternate\
        \ route: `/v1/characters/{character_id}/assets/names/`\n"
      operationId: post_characters_character_id_assets_names
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: A list of item ids
        content:
          application/json:
            schema:
              title: post_characters_character_id_assets_names_item_ids
              maxItems: 1000
              minItems: 1
              uniqueItems: true
              type: array
              description: item_ids array
              items:
                title: post_characters_character_id_assets_names_item_id
                type: integer
                description: item_id integer
                format: int64
        required: true
      responses:
        "200":
          description: List of asset names
          content:
            application/json:
              schema:
                title: post_characters_character_id_assets_names_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/post_characters_character_id_assets_names_200_ok'
                x-content-type: application/json
              example:
              - item_id: 12345
                name: Awesome Name
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-codegen-request-body-name: item_ids
  /characters/{character_id}/attributes/:
    get:
      tags:
      - Skills
      summary: Get character attributes
      description: "Return attributes of a character\n\n---\nAlternate route: `/dev/characters/{character_id}/attributes/`\n\
        \nAlternate route: `/legacy/characters/{character_id}/attributes/`\n\nAlternate\
        \ route: `/v1/characters/{character_id}/attributes/`\n\n---\nThis route is\
        \ cached for up to 120 seconds"
      operationId: get_characters_character_id_attributes
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Attributes of a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_attributes_ok'
              example:
                charisma: 20
                intelligence: 20
                memory: 20
                perception: 20
                willpower: 20
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-skills.read_skills.v1
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 120
  /characters/{character_id}/blueprints/:
    get:
      tags:
      - Character
      summary: Get blueprints
      description: "Return a list of blueprints the character owns\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/blueprints/`\n\nAlternate route:\
        \ `/v3/characters/{character_id}/blueprints/`\n\n---\nThis route is cached\
        \ for up to 3600 seconds"
      operationId: get_characters_character_id_blueprints
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Which page of results to return
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of blueprints
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              style: simple
              explode: false
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                title: get_characters_character_id_blueprints_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_blueprints_200_ok'
                x-content-type: application/json
              example:
              - item_id: 1000000010495
                location_flag: Hangar
                location_id: 60014719
                material_efficiency: 0
                quantity: 1
                runs: -1
                time_efficiency: 0
                type_id: 691
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_blueprints.v1
      x-alternate-versions:
      - dev
      - v3
      x-cached-seconds: 3600
  /characters/{character_id}/bookmarks/:
    get:
      tags:
      - Bookmarks
      summary: List bookmarks
      description: "A list of your character's personal bookmarks\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/bookmarks/`\n\nAlternate route: `/v2/characters/{character_id}/bookmarks/`\n\
        \n---\nThis route is cached for up to 3600 seconds"
      operationId: get_characters_character_id_bookmarks
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Which page of results to return
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A list of bookmarks
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              style: simple
              explode: false
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                title: get_characters_character_id_bookmarks_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_bookmarks_200_ok'
                x-content-type: application/json
              example:
              - bookmark_id: 4
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                item:
                  item_id: 50006722
                  type_id: 29633
                label: Stargate
                location_id: 30003430
                notes: This is a stargate
              - bookmark_id: 5
                coordinates:
                  x: -2958928814000
                  "y": -338367275823
                  z: 2114538075090
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                label: Random location
                location_id: 30003430
                notes: This is a random location in space
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-bookmarks.read_character_bookmarks.v1
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
  /characters/{character_id}/bookmarks/folders/:
    get:
      tags:
      - Bookmarks
      summary: List bookmark folders
      description: "A list of your character's personal bookmark folders\n\n---\n\
        Alternate route: `/dev/characters/{character_id}/bookmarks/folders/`\n\nAlternate\
        \ route: `/v2/characters/{character_id}/bookmarks/folders/`\n\n---\nThis route\
        \ is cached for up to 3600 seconds"
      operationId: get_characters_character_id_bookmarks_folders
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Which page of results to return
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List of bookmark folders
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              style: simple
              explode: false
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                title: get_characters_character_id_bookmarks_folders_ok
                maxItems: 1000
                type: array
                description: 200 ok array
                items:
                  $ref: '#/components/schemas/get_characters_character_id_bookmarks_folders_200_ok'
                x-content-type: application/json
              example:
              - folder_id: 5
                name: Icecream
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-bookmarks.read_character_bookmarks.v1
      x-alternate-versions:
      - dev
      - v2
      x-cached-seconds: 3600
  /characters/{character_id}/calendar/:
    get:
      tags:
      - Calendar
      summary: List calendar event summaries
      description: "Get 50 event summaries from the calendar. If no from_event ID\
        \ is given, the resource will return the next 50 chronological event summaries\
        \ from now. If a from_event ID is specified, it will return the next 50 chronological\
        \ event summaries from after that event\n\n---\nAlternate route: `/dev/characters/{character_id}/calendar/`\n\
        \nAlternate route: `/legacy/characters/{character_id}/calendar/`\n\nAlternate\
        \ route: `/v1/characters/{character_id}/calendar/`\n\nAlternate route: `/v2/characters/{character_id}/calendar/`\n\
        \n---\nThis route is cached for up to 5 seconds"
      operationId: get_characters_character_id_calendar
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: from_event
        in: query
        description: The event ID to retrieve events from
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A collection of event summaries
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                title: get_characters_character_id_calendar_ok
                maxItems: 50
                type: array
                description: Up to 50 events from now or the event you requested
                items:
                  $ref: '#/components/schemas/get_characters_character_id_calendar_200_ok'
                x-content-type: application/json
              example:
              - event_date: 2016-06-26T20:00:00Z
                event_id: 1386435
                event_response: accepted
                importance: 0
                title: o7 The EVE Online Show
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
  /characters/{character_id}/calendar/{event_id}/:
    get:
      tags:
      - Calendar
      summary: Get an event
      description: "Get all the information for a specific event\n\n---\nAlternate\
        \ route: `/dev/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/legacy/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/v3/characters/{character_id}/calendar/{event_id}/`\n\nAlternate\
        \ route: `/v4/characters/{character_id}/calendar/{event_id}/`\n\n---\nThis\
        \ route is cached for up to 5 seconds"
      operationId: get_characters_character_id_calendar_event_id
      parameters:
      - name: character_id
        in: path
        description: An EVE character ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: datasource
        in: query
        description: The server name you would like data from
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: tranquility
          enum:
          - tranquility
      - name: event_id
        in: path
        description: The id of the event requested
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: If-None-Match
        in: header
        description: ETag from a previous request. A 304 will be returned if this
          matches the current ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: token
        in: query
        description: Access token to use if unable to set a header
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Full details of a specific event
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_ok'
              example:
                date: 2016-06-26T21:00:00Z
                duration: 60
                event_id: 1386435
                importance: 1
                owner_id: 1
                owner_name: EVE System
                owner_type: eve_server
                response: Undecided
                text: "o7: The EVE Online Show features latest developer news, fast\
                  \ paced action, community overviews and a lot more with CCP Guard\
                  \ and CCP Mimic. Join the thrilling o7 live broadcast at 20:00 EVE\
                  \ time (=UTC) on <a href=\"http://www.twitch.tv/ccp\">EVE TV</a>.\
                  \ Don't miss it!"
                title: o7 The EVE Online Show
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              style: simple
              explode: false
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              style: simple
              explode: false
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              style: simple
              explode: false
              schema:
                type: string
          content: {}
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              example:
                error: Bad request message
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              example:
                error: Unauthorized message
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              example:
                error: Forbidden message
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_characters_character_id_calendar_event_id_not_found'
              example:
                error: Not found message
        "420":
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              example:
                error: Error limited message
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              example:
                error: Internal server error message
        "503":
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              example:
                error: Service unavailable message
        "504":
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-calendar.read_calendar_events.v1
      x-alternate-versions:
      - dev
      - legacy
      - v3
      - v4
      x-cached-seconds: 5
    put:
      tags:
      - Calendar
      summary: Respond to an event
      description: "Set your response status to an event\n\n---\nAlternate route:\
[...]
